.Home{
    background-color:rgb(208, 208, 238);
    height:auto;
    padding:30px 0;
    width:100%;
    position:relative;
    z-index:100;
}

.leftside{
    margin-top:120px;
    width:100%;

}
.leftside>p{
    position:relative;
    top:25px;
    font-size:1.8rem;
    font-family:"Poppins"

}
.leftside>h1{
    font-size:5rem;
    font-weight:700;
    font-family:"Poppins";
    margin-top:10px;

}
.leftside>h3{
font-size:2.5rem;
font-weight:700;
margin-top:10px;
font-family:'Poppins'

}
/* right side */
.image{
    width:100%;
}
.image>img{
    width:100%;
    margin-top:10px;
    border-radius:10px;
}
.profession{
    animation:large 2s 0.2s ease-in-out alternate-reverse infinite;
}
@keyframes large {
    0%{
        margin-left:5px;
    }
    100%{
        margin-left:20px;
        color:var(--bg-color);
        font-family:var(--font-family)
    }
}
.resume>button{
    display:inline-block;
    background-color:var(--bg-color);
    padding:10px 10px;
    border:none;
    color:#fff;
    font-size:1.5rem;
    cursor:pointer;
    outline:none;
    margin-top:10px;
    border-radius:5px;

}
.contact>button{
    display:inline-block;
    background-color:var(--bg-color);
    padding:10px 10px;
    margin-top:10px;
    border:none;
    color:#fff;
    border-radius:5px;
    font-size:1.5rem;
    outline:none;
    cursor:pointer;
    margin-left:10px; 
}
/* bubble  */
.bubbleone{
 width:80px;
 position:absolute;
 top:5px;
 left:110px;
 z-index:-1;
}
.bubbletwo{
    width:120px;
    position:absolute;
    bottom:100px;
    right:10px;
    z-index:101;
}
.bubblethree{
    width:80px;
    position:absolute;
    top:80px;
    right:180px;
    z-index:101;
}
.bubblefour{
    width:120px;
    position:absolute;
    bottom:50px;
    left:20%;
    z-index:-4;
}
.bubble{
    animation:updown 5s .1s ease-in-out  alternate-reverse infinite;
}
.bubbling{
    animation:rightleft 6s .2s ease-in-out  alternate-reverse infinite;
}

@keyframes updown {
   0%{
       margin-top:0;

   } 
   50%{
       width:120px;
   }
   100%{
       margin-top:30px;
   }
}
@keyframes rightleft {
    0%{
        transform:translateX(0);
    }
    50%{
        width:50px;
    }
  100%{
      transform:translateX(-100px);
  }
    
    
}
@media only screen and (max-width:1080px){
  .leftside{
      margin-top:80px;
  }  
.leftside>h1{
    font-size:3rem;
}
.leftside>h3{
font-size:2rem;
}
@keyframes large {
    0%{
        margin-left:5px;
    }
    100%{
        margin-left:20px;
        color:var(--bg-color);
        font-family:var(--font-family);
    }
}

}
/* media query for 768px  */
@media only screen and (max-width:768px){
    .leftside{
        margin-top:0px;
        text-align:center;
        padding:10px 0;
    }
    .image{
        width:80%;
        text-align:center;
        position:relative;
        left:10%;
    }
    .image>img{
        width:100%;
      
    }
    
}
/* media only screen 576px */

@media only screen and (max-width:576px){
   .bubbleone,.bubbletwo,.bubblethree,.bubblefour{
       display: none;
   }
}