.Service {
  padding: 40px 0;
  width: 100%;
}
.box {
  background-color: rgb(208, 208, 238);
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50px;
}
.topservice {
  text-align: center;
  margin-bottom: 30px;
}
.topservice > h3 {
  font-size: 3rem;
  font-family: var(--font-family);
  color: var(--bg-color);
}
/* box container */
.common {
  background-color: var(--bg-color);
  width: 100%;
  padding: 10px;
  height: 300px;
  text-align: center;
  border-radius: 15px;
}
.common h1 {
  color: #ebe8e8;
  font-size: 1.8rem;
  font-family: "Poppins";
  margin-bottom: 20px;
}
.common p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: justify;
  color: #fff;
  font-family: "Poppins";
}
.msgbtnone {
  position: relative;
  top: 40px;
}
.msgbtntwo {
  position: relative;
  top: 22px;
}
.msgbtnthree {
  position: relative;
  top: 22px;
}
.msgbtnone > button,
.msgbtntwo > button,
.msgbtnthree > button {
  display: inline-block;
  background-color: rgb(208, 208, 238);
  padding: 5px;
  border: none;
  color: var(--bg-color);
  font-weight: 700;
  cursor: pointer;
}
/* media query for the screen of 1080px */
@media only screen and (max-width: 1080px) {
  .box {
    width: 90%;
  }

  .common {
    padding: 10px;
    height: 300px;
  }
  .common h1 {
    font-size: 1.5rem;
  }
  .common p {
    width: 90%;
    height: 200px;
    font-size: 1rem;
  }

  .msgbtnone {
    position: relative;
    top: 0;
  }
  .msgbtntwo {
    position: relative;
    top: 0;
  }
  .msgbtnthree {
    position: relative;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .common {
 
    height:auto;
    margin-top:20px;
  }
  .common h1 {
    font-size: 1.8rem;
    font-family: "Poppins";
    margin-bottom: 20px;
  }
  .common p {
    width: 90%;
    height:150px;
    margin: 0 auto;
   
  }
}
@media only screen and (max-width:400px){
  .common p {
    width: 90%;
    height:200px;
   
  }
}
